gspread
numpy
oauth2client
pandas
PyMySQL
sqlalchemy
sqlparse
jira
pytest
googleanalytics
python-dateutil
beautifulsoup4
lxml
jupyterlab
pdfkit
-e git+https://github.com/hpharmsen/hplib#egg=hplib
-e git+https://github.com/hpharmsen/pysimplicate#egg=pysimplicate
