[database]
dbhost =
dbname = oberon_extranet
dbuser =
dbpass =

[jira]
user = email@domain.com
key = Get_Key_From_Jira
server = https://teamname.atlassian.net

[simplicate]
subdomain = oberon
api_key = Get_Key_From_Simplicate
api_secret = Get_Secret_From_Simplicate

[yuki]
api_key = Get_Key_From_Yuki
administration_id= Administration_Id_From_Yuki

[output]
folder = ~/Google Drive/MT/Dashboard