<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Oberon Dashboard</title>
        <base href="[base]"/>
        <meta charset="UTF-8">
        <meta name="google-signin-client_id" content="800068964392-38ago8a29di3ol5ch67cbg7v5pf89qri.apps.googleusercontent.com">
        <link rel="stylesheet" type="text/css" href="dashboard.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script> <!-- !! data labels on charts -->
        <script src="https://apis.google.com/js/platform.js?onload=onLoadAuth" async defer></script>
        <script src="login.js"></script>
        <script src="productiviteit.js"></script>
    </head>
    <body>
        <div id="menubar">
            <img src="logo.png" title="Oberon logo" style="float:left; vertical-align:middle"/>
            <div id="menu" style="float:left; margin-top:15px">
                <a href="dashboard.html">dashboard</a> -
                <a href="sales.html">sales</a> -
                <a href="clients.html">klanten</a> -
                <a href="budget.html">project budget status</a> -
               <!-- <a href="resultaat_vergelijking.html">resultaat vergelijking</a> - -->
                <a href="target.html">targets</a> -
                <a href="billable.html">billable</a> -
                <a href="winstgevendheid.html">winstgevendheid</a> -
                <a href="service.html">service team</a> -
                <a href="service_issues.html">service issues</a> -
                <a href="debiteuren.html">debiteuren</a> -
                <a href="tor.html">TOR</a>
            </div>
        </div>
        <span style="float:right; margin:20px; border:1px solid #CCC">
            <span id="user"></span>
            <a href="#" onclick="signOut();">Sign out</a>
        </span>
        <span style="float:right; color:#666; margin:20px; ">[timestamp]</span>
        [children]
        <script>
        window.onload = function() {
          checkIfLoggedIn();
          [onloadcode]
        }
        </script>
    </body>
</html>