<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Oberon Dashboard</title>
        <base href="[base]"/>
        <meta charset="UTF-8">
        <meta name="google-signin-client_id"
              content="800068964392-38ago8a29di3ol5ch67cbg7v5pf89qri.apps.googleusercontent.com">
        <link rel="stylesheet" type="text/css" href="dashboard.css">
        <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
        <!-- !! data labels on charts -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=onLoadAuth" async defer></script>
        <script src="login.js"></script>
        <script src="productiviteit.js"></script>
    </head>
    <body>
        <div class="no-print" id="menubar">
            <img src="logo.png" title="Oberon logo" style="float:left; vertical-align:middle"/>
            <div id="menu" style="float:left; margin-top:15px">
                <a href="dashboard.html">dashboard</a> -
                <a href="sales.html">sales</a> -
                <a href="operations.html">operations</a> -
                <a href="billable.html">billable</a> -
                <a href="winstgevendheid.html">winstgevendheid</a> -
                <a href="onderhanden.html">onderhanden werk </a> -
                <a href="debiteuren.html">debiteuren</a> -
                <a href="maandrapportages.html">maandrapportages</a> -
                <a href="booked.html">geboekte uren</a> -
            </div>
        </div>
        <span class="no-print" style="float:right; margin:20px; border:1px solid #CCC">
            <span id="user"></span>
            <a href="#" onclick="signOut();">Sign out</a>
        </span>
        <span style="float:right; color:#666; margin:20px; ">[timestamp]</span>
        [children]
        <script>
        window.onload = function() {
          [onloadcode]
        }
        </script>
    </body>
</html>